* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

/* LANDDING IMAGE & OVERSKRIFT */

.landing {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/forside.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    display: table;
}

.landing h1 {
    font-family: 'Arvo', serif;
    font-size: 5.5em;
    font-weight: bold;
    color: white;
    margin-top: 380px;
    margin-left: 50px;
    letter-spacing: 1.5px;
    padding: 40px;
}

.landing h2 {
  font-family: 'Arvo', serif;
  font-size: 2em;
  font-weight: bold;
  color: #FF8A00;
  letter-spacing: 1.5px;
  margin-top: -130px;
  margin-left: 50px;
  padding: 40px;
}

/* NAVBAR, LOGO & SoMe */

#logo1 {
    float: left;
    display: inline-block;

}

.nav {
    background-color: black;
    width: 100%;
    height: 90px;
    position: fixed;
    text-align: right;
}

.navbar ul {
    margin-right: 50px;
    padding: 0px;
}

.navbar li {
      display: inline-block;
      line-height: 60px;

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a {
  font-family: 'Arvo', serif;
  font-size: 1em;
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin-left: 600px;
  padding: 0px;
  margin: 30px;
}

#facebook-navbar{
  width: 25px;
  height: auto;
  margin-top: -60px;
  position: relative;
  float: right;
  list-style-type: none;
  margin-left: -50px;
}

.toggle {
    width: 100%;
    padding: 40px 20px;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
    display: none;
}

/* booking button */

.book p {
    text-align: center;
    font-family: helvetica;
}

button {
    font-size: large;
    font-family: arvo;
}

input[type=text],
input[type=text] {
    width: 80%;
    padding: 15px;
    margin: 5px 90px 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: medium;

}

/* Add a background color when the inputs get focus */

input[type=text]:focus,
input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}



/* Set a style for all buttons */

button {
    background-color: #FF8A00;
    text-align: center;
    border-radius: 15px;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90px;
    opacity: 0.9;
    margin-right: 10px;
}

button:hover {
    opacity: 1;
}


/* Extra styles for the cancel button */

.cancelbtn {
    padding: 14px 20px;
    background-color: #ff8a00;
}


/* Float cancel and book buttons and add an equal width */

.cancelbtn,
.bookbtn {
    float: left;
    width: 50%;
    font-size: medium;
}


/* Add padding to container elements */

.container {
    padding: 16px;
}

.container h1 {
    font-size: 2.9em;
    text-align: center;
    margin: 0;
    padding-left: 7px;
    padding-top: 10px;
    font-family: arvo, bold;
    color: black;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}


/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* clear style */

.clearfix {
    text-align: center;
}

.clearfix button {
    color: black;
    background-color: transparent;
    border-style: solid;
    border-color: #ff8a00;
    font-weight: 600;

}






  /* OM MUNDHÆLD */

  #om h2 {
    font-family: 'Arvo', serif;
    color: black;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    float: left;
    padding: 30px 110px;
    margin-top: 60px;
    margin-left: 50px;
  }

.oelhane {
  max-width: 150px;
  text-align: center;
  margin-left: 50%;
  margin-top: 100px;
  }

.oelhane h2, .oelkasse h2, .bryggeri h2 {
  font-family:  'Arvo', serif;
  font-size: 16px;
}

.ølhane p, .ølkasse p, .bryggeri p{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: justify;
}

.oelkasse {
  max-width: 150px;
  text-align: center;
  margin-left: 65%;
  margin-top: -250px;
}

.bryggeri {
  max-width: 150px;
  text-align: center;
  margin-left: 80%;
  margin-top: -250px;
}

.ommundhaeld img {
  border-radius: 50%;
  margin-top: 50px;
  margin-left: -420px;
}

.ommundhaeld h1 {
  font-family: 'Arvo', serif;
  font-size: 40px;
  margin-left: 720px;
  margin-top: -320px;
}

.ommundhaeld p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  max-width: 580px;
  margin-left: 720px;
  margin-top: -10px;
  line-height: 1.5;
  text-align: justify;
}

/* NY GALLERY */

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin-top: 150px;

}

.column {
    -ms-flex: 33.3%; /* IE10 */
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0;
    margin: 0;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


/* FASTE SORTIMENT */

#faste-sortiment h1 {
  font-family: 'Arvo', serif;
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}

#om-sortiment {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  margin-left: 140px;
  margin-top: 90px;
  text-align: justify;
}

.ad-libitum {
  max-width: 350px;
  height: 250px;
  text-align: center;
  background-color: #f2f2f2;
  margin-left: 66%;
  margin-top: -100px;
}

.ad-libitum img {
  max-width: 100px;
  vertical-align: middle;
  padding: 10px;
  margin-top: 30px;
}

.ad-libitum p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: lighter;
}

.orange {
  color: #FF8A00;
  font-weight: 700;
}

.golden-ale .fed, .IPA .fed, .stout .fed, .lager .fed,
.british-ipa .fed, .neipa .fed, .pilsner .fed, .pale-ale .fed,
.rom-kaffe-stout .fed {
  color: #f18700;
}

.golden-ale {
  max-width: 300px;
  text-align: center;
  margin-left: 140px;
  margin-top: 100px;
}

.lager{
  max-width: 300px;
  text-align: center;
  margin-left: 140px;
  margin-top: 150px;

}

.pilsner {
  max-width: 300px;
  text-align: center;
  margin-left: 140px;
  margin-top: 110px;
}

.golden-ale h1, .IPA h1, .stout h1,
.lager h1, .british-ipa h1, .neipa h1,
.pilsner h1, .pale-ale h1, .rom-kaffe-stout h1{
  font-family: 'Arvo', serif;
  font-size: 14px;
  font-weight: 700;
}

.golden-ale img, .IPA img, .stout img,
.lager img, .british-ipa img, .neipa img,
.pilsner img, .pale-ale img, .rom-kaffe-stout img {
  max-width: 80px;
  height: auto;
}

.golden-ale p, .IPA p, .stout p,
.lager p, .british-ipa p, .neipa p,
.pilsner p, .pale-ale p, .rom-kaffe-stout p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: justify;
}

.golden-ale .fed {
  font-weight: bold;
}

.IPA {
  max-width: 300px;
  text-align: center;
  margin-left: 40%;
  margin-top: -280px;
}

.british-ipa {
  max-width: 300px;
  text-align: center;
  margin-left: 40%;
  margin-top: -290px;

}

.pale-ale{
  max-width: 300px;
  text-align: center;
  margin-left: 40%;
  margin-top: -280px;
}

.stout {
  max-width: 300px;
  text-align: center;
  margin-left: 69%;
  margin-top: -282px;
}

.neipa {
  max-width: 300px;
  text-align: center;
  margin-left: 69%;
  margin-top: -285px;
}

.rom-kaffe-stout {
  max-width: 300px;
  text-align: center;
  margin-left: 69%;
  margin-top: -275px;
}

/* ANMELDELSER */

#slideshow-container-img {
  width: 100%;
  height: auto;
}

.slideshow-container {
  position: relative;
  height: 185px;
  margin-top: 100px;

}

.mySlides {
  display: none;
  padding:60px;
  text-align: center;

  margin-top: -500px;
}

#nanna img, #nicklas img, #peter img {
  border-radius: 50%;
  max-width: 150px;
  margin-top: -100px;
  margin-bottom: 50px;

}

#quote-icon {
  text-align: center;
  margin-top: -275px;
  margin-right: -90px;
  margin-bottom: 100px;
}

.mySlides q {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
  margin-top: 160px;
}

.author{
  font-family: 'Arvo', serif;
  font-size: 2em;
  font-weight: bold;
  color: #FF8A00;
  letter-spacing: 1.5px;
}

.dot-container {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000;
}


/* FOOTER */

.kontakt-header h1 {
    font-family: "arvo", serif;
    color: #FF7700;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
}

.container-kontakt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: .5vw;
    width: 100%;
    margin: auto;
    justify-content: center;
    background-color: #000;
    background-size: 100% 100%;

}

.kontakt {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
    display: block;
    margin: 30px;
    color: #fff;
    text-align: left;

}

.kontakt2 {
    display: block;
    margin: 30px;
    color: #fff;

}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery img {
    width: 100%;
    height: auto;


}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33333%;
}


.kontakt3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
    display: block;
    margin: 30px;
    color: #fff;
    text-align: left;
}


#main-footer {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3%;
    background: #fff;
    color: #000;
    text-align: center;
    align-content: center;
    margin-top: 570px;

}

/* FOOTER SLUT */





/*-------------MEDIA QUERIES----------------*/


/*MOBILE STYLES - FOOTER*/

@media only screen and (max-width: 725px) {

  .landing h1 {
    font-size: 2.3em;
    margin-left: 10px;
  }

  .landing h2 {
    font-size: 1.1em;
    margin-top: -100px;
    margin-left: 12px;
    padding: 40px;
  }

    #om {
        text-align: center;
        font-family: 'Arvo', serif;
        font-size: 30px;
        font-weight: 600;
        margin-top: 50px;
    }


    .oelhane {
        margin-left: 30%;
        margin-top: 60px;
    }

    .oelkasse {
        margin-left: 30%;
        margin-top: 60px;
    }

    .bryggeri {
        margin-left: 30%;
        margin-top: 60px;
    }

    .ommundhaeld img {
      border-radius: 50%;
      margin-top: 50px;
    }

    .ommundhaeld h1 {
      font-size: 30px;
      text-align: center;
      margin-top: -100px;
      margin-left: auto;
    }

    .ommundhaeld p {
      font-size: 12px;
      margin-left: 10%;
      margin-top: 30px;
      width: 80%;
    }

    .row {
      margin-top: 60px;
    }

    #om-sortiment p {
        font-size: 12px;
        margin-left: -60%;
        margin-top: -30px;
        text-align: center;
    }

    .ad-libitum {
        margin-top: 100px;
        text-align: center;
        margin-left: 10%;
        width: 80%;
    }

    .golden-ale, .IPA, .stout, .lager, .british-ipa,
    .neipa, .pilsner, .pale-ale, .rom-kaffe-stout{
        margin-left: 10%;
        margin-top: 100px;
    }

    .golden-ale p, .IPA p, .stout p, .lager p, .british-ipa p,
    .neipa p, .pilsner p, .pale-ale p, .rom-kaffe-stout p{
        text-align: center;
        width: 100%;
    }

    #nanna img, #nicklas img, #peter img {
      width: 50px;
      height: auto;
      margin-top: 270px;
      margin-bottom: 10px;
    }

    .mySlides q {
      font-size: 9px;
    }

    .author {
      font-size: .5em;
    }

    .dot-container {
      margin-top: -95px;
    }

    .dot {
      height: 6px;
      width: 6px;
    }

    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }


    .kontakt3 {
        text-align: center;
    }

    .kontakt {
        text-align: center;

    }

    .toggle {
        display: block;

    }

    #main-footer {
      margin-top: auto;
    }


    ul {
        width: 100%;
        display: none;
        padding-top: 0px;
        padding-left: 10px;
    }

    ul li {
        display: block;
        text-align: left;

    }

    .active {
        display: block;
    }

    nav {
        padding: 0px;
        position: fixed;
    }



}



@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}


#main-footer {
    padding: 10px;
    background: #000;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
/*FOOTER TIL MOBIL SLUT*/


/* DESKTOP Styles */
@media only screen and (min-width: 992px) and (max-width: 2200px) {

    #main-footer {
        font-size: 30px;
    }

    .footercontent {
        padding: 13px;
        width: 33%;
    }

    .kontakt2 {
        display: block;
        margin: 30px;
        color: #fff;
        width: 20%;

    }
    .kontakt3 {
    text-align: left;
}

    .kontakt {
    text-align: left;
}


    }


/* TABLET */
@media only screen and (max-width: 1000px) and (min-width: 600px) {

    .landing h1 {
      margin-top: 250px;
      font-size: 5em;
    }

    .landing h2 {
        margin-top: -140px;
    }

    #om h2 {
        text-align: center;
        font-family: 'Arvo', serif;
        font-size: 2em;
        font-weight: 600;
        margin-top: 80px;
        margin-left: -65%;
   }

    .oelhane {
      margin-left: 40%;
      margin-top: -185px;
    }

    .oelkasse {
        margin-left: 59%;
    }

    .bryggeri {
        margin-left: 78%;
    }

    .ommundhaeld h1 {
      font-size: 2em;
        text-align: left;
        margin-top: -280px;
        margin-left: 40.3%;
    }

    .ommundhaeld p {
      margin-left: 40%;
      width: 53%;
    }

    #om-sortiment p {
        margin-left: -8%;
    }

    .ad-libitum {
        margin-left: 58%;
        margin-top: -87px;

    }

    .golden-ale, .lager, .pilsner{
      margin-left: 7%;
      width: 240px;
    }

    .IPA {
      margin-left: 38%;
      width: 240px;
      margin-top: -300px;
    }

    .stout {
      margin-left: 68%;
      width: 240px;
      margin-top: -296px;
    }

    .british-ipa {
      margin-left: 38%;
      width: 240px;
      margin-top: -302px;
    }

    .neipa {
      margin-left: 68%;
      width: 240px;
      margin-top: -299px;
    }

    .pale-ale {
      margin-left: 38%;
      width: 240px;
      margin-top: -313px;
    }

    .rom-kaffe-stout {
      margin-left: 68%;
      width: 240px;
      margin-top: -280px;
    }

    #nanna img, #nicklas img, #peter img {
      margin-top: -27px;
    }

    .dot-container {
      margin-top: -10px;
    }

    .dot {
      height: 12px;
      width: 12px;
    }

    #main-footer {
      margin-top: 344px;
    }

    .footercontent {
        padding: 13px;
        width: 33%;
    }

    .kontakt3 {
        text-align: center;
    }

    .kontakt {
        text-align: center;
    }


}
