* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

/* LANDDING IMAGE & OVERSKRIFT */

.landing {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/forside.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    display: table;
}

.landing h1 {
    font-family: 'Arvo', serif;
    font-size: 5.5em;
    font-weight: bold;
    color: white;
    line-height: -3%;
    margin-top: 380px;
    margin-left: 50px;
    letter-spacing: 1.5px;
    padding: 40px;
}

.landing h2 {
  font-family: 'Arvo', serif;
  font-size: 2em;
  font-weight: bold;
  color: #FF8A00;
  letter-spacing: 1.5px;
  margin-top: -130px;
  margin-left: 50px;
  padding: 40px;
}

/* NAVBAR, LOGO & SoMe */

#logo1 {
  float: left;
  display: inline-block;
  margin-left: 80px;
}

ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
.toppen{
   float: right;
}

.top{
padding: 40px;
font-family: 'Arvo', serif;
}

  
.topnav {
  overflow: hidden;
  background-color: #000;
    font-family: 'Arvo', serif;
}

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #000;
  color: #FF8A00;
}

.topnav a.active {
  background-color: #000;
  color: white;
}

.topnav .icon {
  display: none;
}

/* mobil ... */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
    .toppen {
        display: none;+
    }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#facebook-navbar{
  width: 25px;
  height: auto;
  margin-top: -60px;
  position: relative;
  float: right;
  list-style-type: none;
  margin-left: -50px;
}

#instagram-navbar{
  width: 25px;
  height: auto;
  margin-top: -60px;
  position: relative;
  float: right;
  list-style-type: none;
}



  /* OM MUNDHÆLD */

  #om p {
    font-family: 'Arvo', serif;
    color: black;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    float: left;
    padding: 30px 110px;
    margin-top: 60px;
    margin-left: 50px;
  }

.ølhane {
  max-width: 150px;
  text-align: center;
  margin-left: 50%;
  margin-top: 100px;
  }

.ølhane h2, .ølkasse h2, .bryggeri h2 {
  font-family:  'Arvo', serif;
  font-size: 16px;
}

.ølhane p, .ølkasse p, .bryggeri p{
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
  text-align: justify;
}

.ølkasse {
  max-width: 150px;
  text-align: center;
  margin-left: 65%;
  margin-top: -250px;
}

.bryggeri {
  max-width: 150px;
  text-align: center;
  margin-left: 80%;
  margin-top: -250px;
}

.ommundhaeld img {
  border-radius: 50%;
  margin-top: 50px;
  margin-left: -420px;
}

.ommundhaeld h1 {
  font-family: 'Arvo', serif;
  font-size: 40px;
  margin-left: 720px;
  margin-top: -320px;
}

.ommundhaeld p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  max-width: 580px;
  margin-left: 720px;
  margin-top: -10px;
  line-height: 1.5;
  text-align: justify;
}

/* BILLEDEKOLLAGE */

.wrapper {
  display: grid;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  margin: 0px; auto;
  margin-top: 150px;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.box{
  background-color: #f2f2f2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box.one {
  grid-column: span 3;
  grid-row: span 3;
  background-image: url(../images/kollage1.jpg);
}

.box.two {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url(../images/kollage2.png);
}

.box.three {
  grid-column: 1/ span 2;
  grid-row: 4/ span 3;
  background-image: url(../images/tekstboks.png);
}

.box.four {
  grid-column: 3/ span 1;
  grid-row: 4/ span 1;
  background-image: url(../images/kollage3.jpg);
}

.box.five {
  grid-column: 4/ span 2;
  grid-row: 3/ span 2;
  background-image: url(../images/tekstboks1.png);
}

.box.six {
  grid-column: span 3;
  grid-row: span 2;
  background-image: url(../images/kollage4.jpg);
}

/* FASTE SORTIMENT */

#faste-sortiment h1 {
  font-family: 'Arvo', serif;
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}

#om-sortiment {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  margin-left: 140px;
  margin-top: 90px;
  text-align: justify;
}

.ad-libitum {
  max-width: 350px;
  height: 250px;
  text-align: center;
  background-color: #f2f2f2;
  margin-left: 66%;
  margin-top: -100px;
}

.ad-libitum img {
  max-width: 100px;
  vertical-align: middle;
  padding: 10px;
  margin-top: 30px;
}

.ad-libitum p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: lighter;
}

.orange {
  color: #FF8A00;
  font-weight: 700;
}

.golden-ale .fed, .IPA .fed, .stout .fed, .lager .fed,
.british-ipa .fed, .neipa .fed, .pilsner .fed, .pale-ale .fed,
.rom-kaffe-stout .fed {
  color: #f18700;
}

.golden-ale {
  max-width: 300px;
  text-align: center;
  margin-left: 140px;
  margin-top: 100px;
}

.lager{
  max-width: 300px;
  text-align: center;
  margin-left: 140px;
  margin-top: 150px;

}

.pilsner {
  max-width: 300px;
  text-align: center;
  margin-left: 140px;
  margin-top: 110px;
}

.golden-ale h1, .IPA h1, .stout h1,
.lager h1, .british-ipa h1, .neipa h1,
.pilsner h1, .pale-ale h1, .rom-kaffe-stout h1{
  font-family: 'Arvo', serif;
  font-size: 14px;
  font-weight: 700;
}

.golden-ale img, .IPA img, .stout img,
.lager img, .british-ipa img, .neipa img,
.pilsner img, .pale-ale img, .rom-kaffe-stout img {
  max-width: 80px;
  height: auto;
}

.golden-ale p, .IPA p, .stout p,
.lager p, .british-ipa p, .neipa p,
.pilsner p, .pale-ale p, .rom-kaffe-stout p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: justify;
}

.golden-ale .fed {
  font-weight: bold;
}

.IPA {
  max-width: 300px;
  text-align: center;
  margin-left: 40%;
  margin-top: -280px;
}

.british-ipa {
  max-width: 300px;
  text-align: center;
  margin-left: 40%;
  margin-top: -290px;

}

.pale-ale{
  max-width: 300px;
  text-align: center;
  margin-left: 40%;
  margin-top: -280px;
}

.stout {
  max-width: 300px;
  text-align: center;
  margin-left: 69%;
  margin-top: -282px;
}

.neipa {
  max-width: 300px;
  text-align: center;
  margin-left: 69%;
  margin-top: -285px;
}

.rom-kaffe-stout {
  max-width: 300px;
  text-align: center;
  margin-left: 69%;
  margin-top: -275px;
}

/* ANMELDELSER */

#anmeldelser img {
  width: 100vw;
  height: auto;
  margin-top: 100px;
}

.kvinde1 img {
  max-width: 150px;
  vertical-align: middle;
  border-radius: 50%;
}

.kvinde1 {
  text-align: center;
  margin-top: -600px;
}

.kvinde1 p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  margin-top: 50px;
}

.kvinde1 h2{
  font-family: 'Arvo', serif;
  font-size: 40px;
  color: #FF8A00;
}

/* FOOTER */

.kontakt-header h1 {
    font-family: "arvo", serif;
    color: #FF7700;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
}

.container-kontakt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: .5vw;
    width: 100%;
    margin: auto;
    justify-content: center;
    background-color: #000;
    background-size: 100% 100%;

}

.kontakt {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
    display: block;
    margin: 30px;
    color: #fff;
    text-align: left;

}

.kontakt2 {
    display: block;
    margin: 30px;
    color: #fff;

}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery img {
    width: 100%;
    height: auto;


}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33333%;
}


.kontakt3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
    display: block;
    margin: 30px;
    color: #fff;
    text-align: left;
}


#main-footer {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3%;
    background: #fff;
    color: #000;
    text-align: center;
    align-content: center;
    margin-top: 260px;

}

/* FOOTER SLUT */





/*-------------MEDIA QUERIES----------------*/


/*MOBILE STYLES - FOOTER*/

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }

.kontakt3 {
    text-align: center;
}

    .kontakt {
    text-align: center;
}


}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;

    }

}


#main-footer {
    padding: 10px;
    background: #000;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
/*FOOTER TIL MOBIL SLUT*/


/* DESKTOP Styles */
@media only screen and (min-width: 992px) and (max-width: 2200px) {

    #main-footer {
        font-size: 30px;
    }

    .footercontent {
        padding: 13px;
        width: 33%;
    }

    .kontakt2 {
        display: block;
        margin: 30px;
        color: #fff;
        width: 20%;

    }
    .kontakt3 {
    text-align: left;
}

    .kontakt {
    text-align: left;
}


    }


/* Tablet Styles */
@media only screen and (max-width: 1000px) and (min-width: 600px) {



    /*FOOTER TABLE STYLES*/



    .footercontent {
        padding: 13px;
        width: 33%;
    }

.kontakt3 {
    text-align: center;
}

    .kontakt {
    text-align: center;
}
}
